body {
    font-family: "Source Code Pro", sans-serif ;
    overflow: hidden;
    position: relative;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

#letters-container {
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 25vh;
    overflow: hidden;
}

.raindrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 50% 50% 50%;
    border: 3px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    background: rgb(237, 246, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    animation: fall linear forwards;
}

.raindrop::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.raindrop:hover {
    border: paleturquoise;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

#selection-container {
    padding-top: 5%;
    align-content: center;
    height: 50px;
}

#rearrange-area {
    display: flex;
}

.letter-space {
    width: 2em;
    height: 2em;
    border: 1px solid #000;
    margin: 0.5em;
    line-height: 2em;
    text-align: center;
}

.instruction-message {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

#word-area {
    display: none; /* Hide initially */
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
}

#selection-container {
    padding-top: 5%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#selected {
    display: flex;
    justify-content: center;
    letter-spacing: 2rem;
    padding-left: 2rem;
    font-size: 42px;
}
